<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <%- include('partials/style.ejs')  %> 

    <title>Document</title>
</head>
<body>

    <%- include('partials/menu-top.ejs')  %>

    <div class="index-page">
        <div class="categories-1">
            <div class="slide-banner">
                <div class="owl-carousel owl-slide">
                    <div class="item">
                        <div class="image">
                            <img src="/images/banner-1.png" alt="">
                        </div>
                        <div class="detail"></div>
                    </div>
                    <div class="item">
                        <div class="image">
                            <img src="/images/banner-2.png" alt="">
                        </div>
                        <div class="detail"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <%- include('partials/footer.ejs')  %> 

    <%- include('partials/javascript.ejs')  %> 

</body>
</html>