<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%- include('partials/style.ejs') %>

        <title>Document</title>
</head>

<body>

    <%- include('partials/menu-top.ejs') %>

        <div class="technical-detail-page technical-page">
            <div class="container">
                <div class="categories-1">
                    <div class="land-cate">
                        <div class="item">
                            <div class="item-direction">
                                <span>Khóa học</span>
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                <span>Lớp kỹ thuật</span>
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                <span>Chi tiết lớp học</span>
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                <span>Giao diện người dùng</span>
                            </div>
                        </div>
                        <div class="item">
                            <p class="title">Đào tạo Frontend & Backend</p>
                        </div>
                        <div class="item">
                            <p class="title-content">Danh sách học phần sẽ học:</p>
                            <ul class="menu-list-content">
                                <li class="menu-item-content">
                                    <a href="" class="menu-link-content">
                                        <i class="fa fa-asterisk" aria-hidden="true"></i><span>HTML, CSS, JS cơ bản dành cho frontend.</span>
                                        <p class="status">Đã hoàn thành</p>
                                    </a>
                                    <div class="menudrop-item-content">
                                        <p class="detail-content"><span>24 buổi học</span></p>
                                    </div>
                                </li>
                                <li class="menu-item-content">
                                    <a href="" class="menu-link-content">
                                        <i class="fa fa-asterisk" aria-hidden="true"></i><span>Tìm hiểu NodeJS dành cho backend.</span>
                                        <p class="status">Đã hoàn thành</p>
                                    </a>
                                    <div class="menudrop-item-content">
                                        <p class="detail-content"><span>12 buổi học</span></p>
                                    </div>
                                </li>
                                <li class="menu-item-content">
                                    <a href="" class="menu-link-content">
                                        <i class="fa fa-asterisk" aria-hidden="true"></i><span>Oracle Database cơ bản.</span>
                                        <p class="status">Đã hoàn thành</p>
                                    </a>
                                    <div class="menudrop-item-content">
                                        <p class="detail-content"><span>6 buổi học</span></p>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="item">
                            <a href="" class="item-link">Chia sẻ <i class="fa fa-share" aria-hidden="true"></i></a>
                            <a href="" class="item-link">Yêu thích <i class="fa fa-heart" aria-hidden="true"></i></a>
                        </div>
                        
                    </div>
                    <div class="land-cate-slide">
                        <div class="slide-banner">
                            <div class="owl-carousel owl-slide-1">
                                <div class="item">
                                    <div class="image">
                                        <img src="/images/html-css-js.png" alt="">
                                    </div>
                                    <div class="detail"></div>
                                </div>
                                <div class="item">
                                    <div class="image">
                                        <img src="/images/nodejs.png" alt="">
                                    </div>
                                    <div class="detail"></div>
                                </div>
                                <div class="item">
                                    <div class="image">
                                        <img src="/images/oracle.png" alt="">
                                    </div>
                                    <div class="detail"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="categories-2">
                    <div class="container-cate">
                        <div class="header">
                            <p class="title">Kết quả học tập</p>
                        </div>
                        <div class="body">
                            <div class="body-item">
                                <div class="body-item-header">
                                    <p class="title">Học phần: HTML, CSS, JS cơ bản dành cho frontend</p>
                                </div>
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Tên môn học</th>
                                            <th>Giảng viên</th>
                                            <th>Điểm số</th>
                                            <th>Lần thi</th>
                                            <th>Tình trạng</th>
                                            <th>Thi lại</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th>Cơ bản về HTML</th>
                                            <th>Trình Xuân Vỹ</th>
                                            <th>10/10</th>
                                            <th>1/3</th>
                                            <th class="status">Đã đậu</th>
                                            <th></th>
                                        </tr>
                                        <tr>
                                            <th>Cơ bản về CSS</th>
                                            <th>Trình Xuân Vỹ</th>
                                            <th>10/10</th>
                                            <th>1/3</th>
                                            <th class="status">Đã đậu</th>
                                            <th></th>
                                        </tr>
                                        <tr>
                                            <th>Cơ bản về Javascript</th>
                                            <th>Trình Xuân Vỹ</th>
                                            <th>4/10</th>
                                            <th>1/3</th>
                                            <th class="status">Chưa đậu</th>
                                            <th><a href="" class="body-link-item">Đăng ký</a></th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="body-item">
                                <div class="body-item-header">
                                    <p class="title">Học phần: HTML, CSS, JS cơ bản dành cho frontend</p>
                                </div>
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Tên môn học</th>
                                            <th>Giảng viên</th>
                                            <th>Điểm số</th>
                                            <th>Lần thi</th>
                                            <th>Tình trạng</th>
                                            <th>Thi lại</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th>Cơ bản về HTML</th>
                                            <th>Trình Xuân Vỹ</th>
                                            <th>10/10</th>
                                            <th>1/3</th>
                                            <th class="status">Đã đậu</th>
                                            <th></th>
                                        </tr>
                                        <tr>
                                            <th>Cơ bản về CSS</th>
                                            <th>Trình Xuân Vỹ</th>
                                            <th>10/10</th>
                                            <th>1/3</th>
                                            <th class="status">Đã đậu</th>
                                            <th></th>
                                        </tr>
                                        <tr>
                                            <th>Cơ bản về Javascript</th>
                                            <th>Trình Xuân Vỹ</th>
                                            <th>4/10</th>
                                            <th>1/3</th>
                                            <th class="status">Chưa đậu</th>
                                            <th><a href="" class="body-link-item">Đăng ký</a></th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="body-item">
                                <div class="body-item-header">
                                    <p class="title">Học phần: HTML, CSS, JS cơ bản dành cho frontend</p>
                                </div>
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Tên môn học</th>
                                            <th>Giảng viên</th>
                                            <th>Điểm số</th>
                                            <th>Lần thi</th>
                                            <th>Tình trạng</th>
                                            <th>Thi lại</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th>Cơ bản về HTML</th>
                                            <th>Trình Xuân Vỹ</th>
                                            <th>10/10</th>
                                            <th>1/3</th>
                                            <th class="status">Đã đậu</th>
                                            <th></th>
                                        </tr>
                                        <tr>
                                            <th>Cơ bản về CSS</th>
                                            <th>Trình Xuân Vỹ</th>
                                            <th>10/10</th>
                                            <th>1/3</th>
                                            <th class="status">Đã đậu</th>
                                            <th></th>
                                        </tr>
                                        <tr>
                                            <th>Cơ bản về Javascript</th>
                                            <th>Trình Xuân Vỹ</th>
                                            <th>4/10</th>
                                            <th>1/3</th>
                                            <th class="status">Chưa đậu</th>
                                            <th><a href="" class="body-link-item">Đăng ký</a></th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="back-fail">
                            <p class="title"><span>Lưu ý: </span>Điểm thi >= 5 mới có thể nhận văn bằng, tối đa 3 lần thi.</p>
                        </div>
                    </div>
                </div>
            </div>

            <%- include('partials/footer.ejs')  %> 
        </div>

        <%- include('partials/javascript.ejs') %>

</body>

</html>