<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%- include('partials/style.ejs') %>

        <title>Document</title>
</head>

<body>

    <%- include('partials/menu-top.ejs') %>

        <div class="technical-page">
            <div class="container">
                <div class="categories-1">
                    <div class="land-cate">
                        <div class="item">
                            <div class="item-direction">
                                <span>Khóa học</span>
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                <span>Lớp kỹ thuật</span>
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                <span>Giao diện người dùng</span>
                            </div>
                        </div>
                        <div class="item">
                            <p class="title">Adode XD UI UX design</p>
                        </div>
                        <div class="item">
                            <p class="title-content">Khóa học bao gồm:</p>
                            <p class="list-content">
                                <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                <span>24 buổi học</span>
                            </p>
                            <p class="list-content">
                                <i class="fas fa-file-download"></i>
                                <span>Các tài liệu và resources</span>
                            </p>
                            <p class="list-content">
                                <i class="fas fa-mobile-alt"></i>
                                <span>Truy cập bằng máy tính hoặc điện thoại</span>
                            </p>
                            <p class="list-content">
                                <i class="fas fa-scroll"></i>
                                <span>Bài tập về nhà mỗi ngày</span>
                            </p>
                        </div>
                        <div class="item">
                            <p class="item-time">Khai giảng: <span>15-7-2021</span> <span>Dự kiến</span></p>
                            <p class="item-number">Sỉ số: <span>25/25</span> Học viên <span>Đã đầy</span></p>
                        </div>
                        <div class="item">
                            <a href="" class="item-link">Chia sẻ <i class="fa fa-share" aria-hidden="true"></i></a>
                            <a href="" class="item-link">Yêu thích <i class="fa fa-heart" aria-hidden="true"></i></a>
                            <a href="" class="item-link">Khóa học tương tự</a>
                        </div>
                        
                    </div>
                    <div class="land-cate">
                        <div class="image">
                            <img src="/images/tech-1.jpg" alt="">
                        </div>
                        <div class="detail">
                            <p class="title">Adode XD UI UX design</p>
                            <p class="cost">500000 <span>VNĐ</span></p>
                            <div class="link">
                                <a href="/courses/technical/1/checkin" class="item-link">Đăng ký ngay</a>
                                <a href="" class="item-link no-active"><span>Thêm vào giỏ hàng</span></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="categories-2">
                    <div class="container-cate">
                        <div class="header">
                            <p class="title">Bạn sẽ học</p>
                        </div>
                        <div class="body">
                            <div class="item">
                                <i class="fa fa-check" aria-hidden="true"></i>
                                <span>Trở thành Designer UX.</span>
                            </div>
                            <div class="item">
                                <i class="fa fa-check" aria-hidden="true"></i>
                                <span>Có project để thêm vào CV. </span>
                            </div>
                            <div class="item">
                                <i class="fa fa-check" aria-hidden="true"></i>
                                <span>Trở thành Designer UI.</span>
    
                            </div>
                            <div class="item">
                                <i class="fa fa-check" aria-hidden="true"></i>
                                <span>Xây dựng 1 trang web chuyên nghiệp.</span>
    
                            </div>
                            <div class="item">
                                <i class="fa fa-check" aria-hidden="true"></i>
                                <span>50 buổi học, từ level thấp đến cao.</span>
                            </div>
                            <div class="item">
                                <i class="fa fa-check" aria-hidden="true"></i>
                                <span>Xây dụng 1 mobile app chuyên nghiệp.</span>
                            </div>
                            <div class="item">
                                <i class="fa fa-check" aria-hidden="true"></i>
                                <span>Kiếm tiền với kĩ năng XD.</span>
                            </div>
                            <div class="item">
                                <i class="fa fa-check" aria-hidden="true"></i>
                                <spna>Cách quản lý project.</spna>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <%- include('partials/footer.ejs')  %> 
        </div>

        <%- include('partials/javascript.ejs') %>

</body>

</html>